@charset "EUC-KR";
a{
  text-decoration-line: none;
}

.nav {
    height: 50px;
    display: flex;
    align-items: center;
    font-size: 20pt;
  }
  
  .nav-items {
    display: flex;
    margin-left: auto;
    margin-right: 15px;
    font-size: 10pt;
  }
  
  .nav-item {
    margin-left: 10px;
  }
  
  .lis{
    display: flex;
    font-size: 20pt;
    margin-left: auto;
    margin-right: 100px;
  }
  
  .row-main{
   display: flex;
   margin-left: 80px;
   margin-right: auto;
  }
  
 .my-4, .row, .row-box{
    text-align: center;
  }

.img-fluid{
  margin-left: 3%;
}

.copyright{
    margin-left: 3%;
    font-style: grey;
    font-size: small;
}

